apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: simple-web-app-development

resources:
- ../../base

namePrefix: dev-
nameSuffix: -development

commonLabels:
  environment: development
  tier: dev

replicas:
- name: simple-web-app
  count: 1

images:
- name: nginx
  newTag: 1.21-alpine

configMapGenerator:
- name: app-config
  behavior: merge
  literals:
  - app.environment=development
  - debug.enabled=true
  - app.version=1.0.0-dev

patchesStrategicMerge:
- ingress-patch.yaml
- deployment-patch.yaml

patches:
- target:
    kind: ConfigMap
    name: app-config
  patch: |-
    - op: replace
      path: /data/app.properties
      value: |
        app.name=Simple Web Application
        app.version=1.0.0-dev
        app.environment=development
        debug.enabled=true
        log.level=DEBUG