replicaCount: 2

image:
  repository: nginx
  tag: 2

service:
  port: 80

ingress:
  enabled: true
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
