apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: simple-web-app-staging

resources:
- ../../base

namePrefix: staging-
nameSuffix: -staging

commonLabels:
  environment: staging
  tier: staging

replicas:
- name: simple-web-app
  count: 2

images:
- name: nginx
  newTag: 1.21-alpine

configMapGenerator:
- name: app-config
  behavior: merge
  literals:
  - app.environment=staging
  - debug.enabled=false
  - app.version=1.0.0-staging

patchesStrategicMerge:
- ingress-patch.yaml
- deployment-patch.yaml

patches:
- target:
    kind: ConfigMap
    name: app-config
  patch: |-
    - op: replace
      path: /data/app.properties
      value: |
        app.name=Simple Web Application
        app.version=1.0.0-staging
        app.environment=staging
        debug.enabled=false
        log.level=INFO